:root {
    --background-color: #282c34;
    --default-item-svg-width: 70%;
    --default-item-font-size: 0.8em;
    --filter-item-on-hover: brightness(0.6);

    --wrapper-grid-column-gap: 0.07em;
    --itemSize: calc(5rem + 5vw);
    --responsiveness: 0.4;
    --x: 0%;
    --y: 0%;
    --translateX: calc(-50% - var(--x) * var(--responsiveness));
    --translateY: calc(-50% - var(--y) * var(--responsiveness));
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-color);
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    transform: translate(var(--translateX), var(--translateY));
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    justify-content: center;
    font-size: var(--itemSize);
    grid-template-columns: repeat(14, 0.5em);
    grid-auto-rows: 0.5em;
    grid-row-gap: 0;
    grid-column-gap: var(--wrapper-grid-column-gap);
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
}

.wrapper .item:first-of-type,
.wrapper .item:nth-of-type(34) {
    grid-column-start: 4;
}

.wrapper .item:nth-of-type(5),
.wrapper .item:nth-of-type(29) {
    grid-column-start: 3;
}

.wrapper .item:nth-of-type(10),
.wrapper .item:nth-of-type(23) {
    grid-column-start: 2;
}

.item {
    --scale: 1;
    grid-column-end: span 2;
    grid-row-end: span 2;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    will-change: transform;
    transform: scale(var(--scale));
    opacity: calc(var(--scale) * var(--scale));
    transition: 0.4s ease-out;
    scroll-snap-align: center;
    color: inherit;
    box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.2);
}

.item:hover {
    filter: var(--filter-item-on-hover);
}

.item svg {
    display: flex;
    margin: 0 auto;
    width: var(--item-svg-width, var(--default-item-svg-width));
    height: 100%;
}

.item::after {
    height: 100%;
    content: attr(data-text);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--item-font-size, var(--default-item-font-size));
}

@media screen and (max-width: 1000px) {

    body,
    html {
        position: relative;
        overflow: scroll;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }

    .wrapper {
        --itemSize: 10rem;
        --responsiveness: 1;
        position: static;
        justify-content: start;
        transform: scale(0.7);
    }
}
